body{
    font-family: arial ,sans-serif;
    margin: 0;
    padding: 0;
}
.main-continer{
    background-image: url(/image/pawel-czerwinski-iDvy-VLTf4M-unsplash.jpg);
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    left: 100px;
    top: 20px;
}
.clild-1{
    position: absolute;
    left: 5px;
    top: 5px;
}
.child-2{
    position: absolute;
    right: 5px;
    top: 5px;
}
.child-3{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.child-4{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.child-5{
    position: absolute;
        
    left: 475px;
    top: 250px;
        
    text-align: center;
}
/* task_2 page css */
.Main-div {
            position: relative;
            width: 500px;
            height: 250px;
            border: 1px solid burlywood;
            border-radius: 10px;
        }
        .Mc-1, .Mc-2, .Mc-3 ,.Mc-4{
            width: 100px;
            height: 100px;
            position: absolute;
            border: 2px solid red;
            background-color: green;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
        .Mc-1 {
            top: 50px;
            left: 30px;
            z-index: 1;
        }
        .Mc-2 {
            top: 120px;
            left: 100px;
            z-index: 2;
        }
        .Mc-3 {
            top: 50px;
            left: 190px;
            z-index: 1;
        }
        .Mc-4 {
            top:120px;
            left: 250px;
            z-index: -1 ;
            
        }

/* task_3.html */
.container{
    
   text-align: center;
   
   
    position: relative;
    left: 200px;
    top: 100px;
    background-color: aqua;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    
       
}
 .left-side{
    position:absolute; 
    width: 58%;
    height: 99%;
    /* border: 2px solid black; */
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
 }
 .uper-side{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2 px solid black;
    height: 40%;
    justify-content: space-between;
 }
 .box-A{
    border: 2px solid black;
    width: 38%;
    height: 100%;
    text-align: center;
    
 }
 .box-B{
    border: 2px solid black;
    width: 57%;
    height: 100%;
    
 }
 .lower-side{
    display: flex;
    flex-direction: row;
    width: 99%;
    /* border: 2px solid black; */
    height: 57%;
    justify-content: space-between;
 }
 
 .lower-side-left{
    /* border: 2px solid black; */
    width: 20%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .box-C{
    width: 100%;
    border: 2px solid black;
    height: 47%;
 }
 .box-D{
    width: 100%;
    border: 2px solid black;
    height: 47%;
 }


.lower-side-right{
    border: 2px solid black;
    width: 77%;
    height: 97%;

}



 .Right-side{
    width: 39%;
    height: 99%;
    /* border: 2px solid black;  */
    position: absolute;
    left: 360px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
 }
 .Right-side-left{
    width: 28%;
    border: 2px solid black;
    height: 98%;
 }
 .Right-side-right{
    /* border: 2px solid black; */
    height: 98%;
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .box-G{
    border: 2px solid black;
    width: 98%;
    height: 68%;
 }
 
 .box-H{
    border: 2px solid black;
    width: 98%;
    height: 28%;
 }